@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: 'Crimson Text', serif;
  line-height: 1.6;
  background-color: #f9f9f9;
  color: #000000;
}

/****************   Nav Section **********************/
.site-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #cee5ff;
  padding: 1rem 2rem;
}

.site-nav a {
  color: #fff;
}

.site-nav p {
  color: #1a4b8c;
}

.site-nav p, .site-nav a {
  text-decoration: none;
  margin-left: 1rem;
  font-size: 1.2rem;
  font-weight: bold;
  display: inline;
}

.site-nav a:hover {
  text-decoration: underline;
}

/***********************  Footer Section   **************************/
.site-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #96c5fa;
  color: #eee;
  padding: 1rem;
  font-size: 1.25rem;
}

.site-footer a {
  color: #eee;
  text-decoration: none;
  transition: color 0.2s;
}

.site-footer a:hover {
  text-decoration: underline;
}

/*********** Header/Splash Page ************************/
.site-header {
  background-color: #1a4b8c;
  text-align: center;
  padding: 3rem 1rem;
  max-height: 300px;
}

.site-header h1 {
  font-family: 'Playfair Display', serif;
  font-size: 2.5rem;
  color: #ffffff;
  margin: 0;
}

.site-header img {
  border-radius: 50%;
  border: 6px solid #cee5ff;
  width: 200px;
  height: 200px;
  margin-top: 0.1rem;
}

.address {
  display: flex;
  justify-content: center;
  font-style: italic;
  color: #555;
  margin-top: 1rem;
}

.tagline {
  display: flex;
  justify-content: center;
  font-size: 1.2rem;
  font-weight: 700;
  margin-top: 0.5rem;
  color: #444;
}

/************* Sections ********************/
hr {
  border: none;
  border-top: 2px solid #ccc;
  margin: 2rem 0;
}

section h3 {
  font-family: 'Roboto', serif;
  color: #1a4b8c;
  margin-bottom: 0.5rem;
  margin-left: 0.5rem;
}

section dl {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 0.5rem 1rem;
  margin-left: 1.5rem;
}

section ul {
  list-style-type: square;
}

.skills-list {
  padding-left: 2.5rem;
}

section a {
  color: #000000;
  text-decoration: none;
}

section a:hover {
  color: #005fa3;
  text-decoration: underline;
}

section h4 {
  font-size: larger;
  text-decoration: underline;
}

/**************   Projects   *****************/
.projects-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.5rem;
  margin: 2rem 2rem;
}

.project-item img {
  max-width: 100%;
  border-radius: 4px;
  margin-bottom: 1rem;
  height: 100px;
  width: 100px;
}

.project-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 10px;
  background: #fff;
  border-radius: 12px;
  box-shadow: 0 4px 8px #96c5fa;
  padding: 1rem;
  text-align: center;
}

/**************   Responsiveness   *****************/
@media (max-width: 680px) {
  .site-nav {
    flex-direction: column;
    text-align: center;
  }

  .projects-grid {
    grid-template-columns: 1fr;
    justify-items: center;
  }
}

/**************   Contact Page   *****************/
.contact-form {
  display: flex;
  flex-direction: column;
  max-width: 500px;
  margin: 3rem auto;
  gap: 1rem;
}

input {
  width: 100%;
  padding: 0.75rem;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 1rem;
}

textarea {
  width: 100%;
  padding: 0.75rem;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 1rem;
}

button {
  width: 5rem;
  padding: 0.75rem;
  border: 1px solid #005fa3;
  border-radius: 6px;
  font-size: 1rem;
  color: #005fa3;
}

input:focus, textarea:focus {
  border-color: #005fa3;
  outline: none;
}

.contact-address {
  color: #fff;
  font-style: italic;
}

.contact-tagline {
  color: white;
  font-size: larger;
  font-weight: 700;
}

.contact-heading {
  margin-left: 2rem;
  text-decoration: underline;
  color: #005fa3;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}
