name: GitHub Classroom Autograding

on: [push, pull_request, workflow_dispatch]

jobs:
  autograding:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: '20.11.1'
          cache: 'npm'

      - name: Install deps
        run: npm ci

      - name: Run Classroom Autograder
        uses: education/autograding@v1

